/*! CSS Used from: https://www.justone.co.kr/shopimages/jojean/template/work/1147/common.css?r=1579487180 */
h2,h3,ul,li,th,td,input,select{margin:0;padding:0;font-family:'Malgun Gothic', Lato, monospace, Corbel, Dotum, AppleGothic, Helvetica, sans-serif;}
h2,h3,table,input,select,a{font-size:12px;line-height:1.25;color:#333;font-family:'Malgun Gothic', Lato, monospace, Corbel, Dotum, AppleGothic, Helvetica, sans-serif;}
h2,h3{font-weight:normal;}
img{vertical-align:top;}
img{border:0 none;}
li{list-style:none;}
caption{display:none;}
a{color:#333;text-decoration:none;}
input,select,a{vertical-align:middle;}
input,select{border:1px solid #e0e0e0;}
input[type=checkbox]{border:0;}
select{width:50px;height:32px;line-height:32px;}
input:focus{outline:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;word-wrap:break-word;word-break:keep-all;}
.chk-rdo{width:13px;height:13px;vertical-align:middle;}
.mb-10{margin-bottom:10px;}
table img{vertical-align:middle;}
.tb-left,.tb-center,.tb-right{padding:0 10px;}
.tb-left{text-align:left;}
.tb-center{text-align:center;}
.tb-right{text-align:right;}
.content-orderDetail{position:relative;width:1366px;margin:0 auto;}
#orderDetail{min-height:440px;width:100%;position:relative;}
#orderDetail .tit-page{position:relative;padding:40px 0;font-size:30px;text-align:center;color:#000;font-weight:bold;}
#orderDetail .tit-page-sub{font-size:16px;font-weight:bold;color:#333;margin:60px 0 10px 0;}
.CSSbuttonB{display:inline-block;padding:12px 45px;font-size:14px;color:#333;font-weight:bold;border:1px solid #e0e0e0;background:#fff;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.CSSbuttonB:hover{border:1px solid #333;cursor:hand;}
.CSSbuttonB:active{position:relative;}
.CSSbuttonBlackB{display:inline-block;padding:12px 45px;font-size:14px;color:#fff;font-weight:bold;border:1px solid #333;background:#333;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.CSSbuttonBlackB:hover{color:#333;border:1px solid #333;background:#fff;cursor:hand;}
.CSSbuttonBlackB:active{position:relative;}
/*! CSS Used from: https://www.justone.co.kr/shopimages/jojean/template/work/1147/mp_ordersummary.css?t=202001201126 */
#orderSt .tab{zoom:1;overflow:hidden;margin-top:30px;border-bottom:1px solid #ddd;}
#orderSt .tab li a{float:left;width:30%;display:block;background-color:#fcfcfc;border:1px solid #ddd;margin-right:5px;border-bottom:0;height:40px;line-height:40px;font-size:15px;color:#999;text-align:center;margin-bottom:-1px;}
#orderSt .tab li.sel a{background-color:#fff;border:1px solid #111;border-bottom:0;color:#111;font-weight:bold;text-align:center;}
#orderInfo .table-w{margin-top:10px;}
#orderInfo .table-w th{padding:12px;border:1px solid #dedede;border-left:none;}
#orderInfo .table-w td{padding:12px;border:1px solid #dedede;border-right:none;}
#orderInfo .table-w th,#orderInfo .table-prdinfo tfoot td{background-color:#fcfcfc;}
#orderInfo .table-w tfoot td{font-weight:bold;}
#orderInfo .table-w .tb-price{color:#FF5D00;}
#orderInfo .table-prdinfo .tb-center{padding:0;}
.pop_order_btn_group{margin: 0 auto; width: 400px;text-align:center;margin-top: 50px}
/*! CSS Used from: https://www.justone.co.kr/css/okdgg_layer.css */
caption{display:none;}